@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

:root{
    --main-color:#d3ad7f;
    --black:#13131a;
    --bg:#010103;
    --border:.1rem solid rgba(255,255,255,.3);
}

*{
    font-family: 'Roboto', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    outline: none; border:none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 9rem;
    scroll-behavior: smooth;
}

html::-webkit-scrollbar{
    width: .8rem;
}

html::-webkit-scrollbar-track{
    background: transparent;
}

html::-webkit-scrollbar-thumb{
    background: #fff;
    border-radius: 5rem;
}

body{
    background: var(--bg);
}

section{
    padding:2rem 7%;
}

.heading{
    text-align: center;
    color:#ffffff;
    text-transform: uppercase;
    padding-bottom: 3.5rem;
    font-size: 4rem;
}

.heading span{
    color:var(--main-color);
    text-transform: uppercase;
}

.btn{
    margin-top: 1rem;
    display: inline-block;
    padding:.9rem 3rem;
    font-size: 1.7rem;
    color:#fff;
    background: var(--main-color);
    cursor: pointer;
}

.btn:hover{
    letter-spacing: .2rem;
}

.header{
    background: var(--bg);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:1.5rem 7%;
    border-bottom: var(--border);
    position: fixed;
    top:0; left: 0; right: 0;
    z-index: 1000;
}

.header .logo img{
    height: 6rem;
}

.header .navbar a{
    margin:0 1rem;
    font-size: 1.6rem;
    color:#fee8e8;
}

.header .navbar a:hover{
    color:var(--main-color);
    border-bottom: .1rem solid var(--main-color);
    padding-bottom: .5rem;
}

.header .icons div{
    color:#fff;
    cursor: pointer;
    font-size: 2.5rem;
    margin-left: 2rem;
}

.header .icons div:hover{
    color:var(--main-color);
}

/* #menu-btn{
    display:contents;
} */


.header .cart-items-container{
    position: absolute;
    top:100%; right: -100%;
    height: calc(90vh - 9rem);
    width: 35rem;
    background: #fff;
    padding:0 1.5rem;
}

.header .cart-items-container.active{
    right: 0;
}

/* .header .cart-items-container .cart-item{
    position: relative;
    margin:2rem 0;
    display: flex;
    align-items: center;
    gap:1.5rem;
} */

.header .cart-items-container .cart-item .fa-times{
    position: absolute;
    top:1rem; right: 1rem;
    font-size: 2rem;
    cursor: pointer;
    color: var(--black);
}

.header .cart-items-container .cart-item .fa-times:hover{
    color:var(--main-color);
}

.header .cart-items-container .cart-item img{
    height: 7rem;
}

.header .cart-items-container .cart-item .content h3{
    font-size: 2rem;
    color:var(--black);
    padding-bottom: .5rem;
}

.header .cart-items-container .cart-item .content .price{
    font-size: 1.5rem;
    color:var(--main-color);
}

.header .cart-items-container .btn{
    width: 100%;
    text-align: center;
}

.home{
    height: 110vh;
    display: flex;
    align-items: center;
    background:url(../images/home-img.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}

.home .content{
    max-width: 60rem;
}

.home .content h3{
    font-size: 6rem;
    text-transform: uppercase;
    color:rgba(183, 77, 77, 0.808)0999;
    font-family:Helvetica;
}

.home .content p{
    font-size: 1.7rem;
    font-weight: bold;
    line-height: 1.8;
    padding:1rem 0;
    color:rgb(255, 255, 255);
}




/* ------------------------modal----------------------- */
.modal1 {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content1 {
    background-color: #3b2621;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid var(--black);
    width: 80%;
    border-radius: 10px;
    color: white;
}

.close1 {
    color: var(--black);
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close1:hover,
.close1:focus {
    color: var(--main-color);
}

input[type="text"],
select {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    box-sizing: border-box;
    border: none;
    border-radius: 5px;
    background-color:var(--main-color);
    color: white;
}

select{
    color: white;

}

option{
    color: black;
    background-color: #d3ad7f;
}

input[type="submit"] {
    background-color: var(--black);
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}

input[type="submit"]:hover {
    background-color:var(--main-color);
    color:black;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid var(--main-color);
    padding: 8px;
    text-align: left;
}

#toastNotification {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px 20px;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    display: block;
}



/* ------------------------About -----------------------*/
.about .row{
    display: flex;
    align-items: center;
    background:var(--black);
    flex-wrap: wrap;
}

.about .row .image{
    flex:1 1 45rem;
}

.about .row .image img{
    width: 100%;
}
.about .row .content{
    flex:1 1 45rem;
    padding:2rem;
}

.about .row .content h3{
    font-size: 3rem;
    color:#fff;
}

.about .row .content p{
    font-size: 1.6rem;
    color:#ccc;
    padding:1rem 0;
    line-height: 1.8;
}
 /* ------------------------------menu----------------- */

 .menu .scroll-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 2rem;
    color: #d3ad7f;
}

.menu .scroll-btn.left {
    left: 0;
}

.menu .scroll-btn.right {
    right: 0;
}

.menu .scroll-btn i {
    margin: 0 10px;
}

.menu {
    position: relative;
    /* overflow-x: auto; */

}

.menu .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 1.5rem;
    padding-bottom: 20px;
}

.menu .box-container .box {
    padding: 5rem;
    text-align: center;
    border: var(--border);
}

.menu .box-container .box img {
    height: 10rem;
}

.menu .box-container .box h3 {
    color: #fff;
    font-size: 2rem;
    padding: 1rem 0;
}

.menu .box-container .box .price {
    color: #fff;
    font-size: 2.5rem;
    padding: 0.5rem 0;
}

.menu .box-container .box .price span {
    font-size: 1.5rem;
    text-decoration: line-through;
    font-weight: lighter;
}

.menu .box-container .box:hover {
    background: #fff;
}

.menu .box-container .box:hover > * {
    color: var(--black);
}

.plus-btn {
    width: 40px; 
    height: 40px; 
    border-radius: 50%; 
    border: none; 
    background-color:#d3ad7f; 
    color: white; 
    font-size: 24px; 
    cursor: pointer; 
    outline: none; 
    transition: background-color 0.3s; 
}

/* .plus-btn:hover {
    background-color:#d3ad7f; 
} */

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 50%;
    top: 50%;
    width: 50%;
    max-width: 600px; /* Limit the maximum width of the modal */
    height: auto;
    transform: translate(-50%, -50%);
    overflow: auto;
    /* background-color: rgba(0, 0, 0, 0.4); */
}

.modal-content {
    background-color: #3b2621;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid var(--black);
    width: 80%;
    border-radius: 10px;
    color: white;
}

.close {
    color: var(--black);
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: var(--main-color);
}

input[type="text"],
select {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    box-sizing: border-box;
    border: none;
    border-radius: 5px;
    background-color:var(--main-color);
    color: white;
}

input[type="submit"] {
    background-color: var(--black);
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}

input[type="submit"]:hover {
    background-color:var(--main-color);
    color:black;
}

.menu .box-container .box {
    position: relative; /* Ensure the box is a positioning context for the button */
}

.plus-btn1 {
    position: absolute;
    top: 10px; /* Adjust the top position as needed */
    right: 10px; /* Adjust the right position as needed */
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: none;
    background-color: #d3ad7f;
    color: white;
    font-size: 24px;
    cursor: pointer;
    outline: none;
    transition: background-color 0.3s;
}

.plus-btn1:hover {
    background-color: #b3895e; /* Change background color on hover */
}


.modal2 {
    display: none;
    position: fixed;
    z-index: 1;
    left: 50%;
    top: 50%;
    width: 50%;
    max-width: 600px; /* Limit the maximum width of the modal */
    height: auto;
    transform: translate(-50%, -50%);
    overflow: auto;
    /* background-color: rgba(0, 0, 0, 0.4); */
}

.modal-content2 {
    background-color: #3b2621;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid var(--black);
    width: 80%;
    border-radius: 10px;
    color: white;
}

.close2 {
    color: var(--black);
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close2:hover,
.close2:focus {
    color: var(--main-color);
}

input[type="text"],
select {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    box-sizing: border-box;
    border: none;
    border-radius: 5px;
    background-color:var(--main-color);
    color: white;
}

input[type="submit"] {
    background-color: var(--black);
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}

input[type="submit"]:hover {
    background-color:var(--main-color);
    color:black;
}





/* -------------------------------Review----------------------------------------- */

/* .review .box-container{
    display: flex;
    overflow: hidden;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap:1.5rem;
}

.review .box-container .box{
    border:var(--border);
    text-align: center;
    padding:3rem 2rem;
}

.review .box-container .box p{
    font-size: 1.5rem;
    line-height: 1.8;
    color:#ccc;
    padding:2rem 0;
}

.review .box-container .box .user{
    height: 7rem;
    width: 7rem;
    border-radius: 50%;
    object-fit: cover;
}

.review .box-container .box h3{
    padding:1rem 0;
    font-size: 2rem;
    color:#fff;
}

.review .box-container .box .stars i{
    font-size: 1.5rem;
    color:var(--main-color);
}

.contact .row .map{
    flex:1 1 45rem;
    width: 100%;
    object-fit: cover;
    padding: 20px 40px;
}

.contact .row form{
    flex:1 1 45rem;
    padding:5rem 2rem;
    text-align: center;
}

.contact .row form h3{
    text-transform: uppercase;
    font-size: 3.5rem;
    color:#a07f7f;
}

.contact .row form .inputBox{
    display: flex;
    align-items: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
    background:var(--bg);
    border:var(--border);
}

.contact .row form .inputBox span{
    color:#fff;
    font-size: 2rem;
    padding-left: 2rem;
}

.contact .row form .inputBox input{
    width: 100%;
    padding:2rem;
    font-size: 1.7rem;
    color:#fff;
    text-transform: none;
    background:none;
} */

.footer{
    background:var(--black);
    text-align: center;
}

.footer .share{
    padding:1rem 0;
}

.footer .share a{
    height: 5rem;
    width: 5rem;
    line-height: 5rem;
    font-size: 2rem;
    color:#fff;
    border:var(--border);
    margin:.3rem;
    border-radius: 50%;
}

.footer .share a:hover{
    background-color: var(--main-color);
}

.footer .links{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding:2rem 0;
    gap:1rem;
}

.footer .links a{
    padding:.7rem 2rem;
    color:#fff;
    border:var(--border);
    font-size: 2rem;
}

.footer .links a:hover{
    background:var(--main-color);
}

.footer .credit{
    font-size: 2rem;
    color:#fff;
    font-weight: lighter;
    padding:1.5rem;
}

.footer .credit span{
    color:var(--main-color);
}



/* ----------------------------------------------------------------------- */

/* media queries  */
@media (max-width:991px){

    html{
        font-size: 55%;
    }

    .header{
        padding:1.5rem 2rem;
    }

    section{
        padding:2rem;
    }

}

@media (max-width:768px){

    /* #menu-btn{
        display:contents;
    } */

    .header .navbar{
        position: absolute;
        top:100%; right: -100%;
        background: #fff;
        width: 30rem;
        height: calc(100vh - 9.5rem);
    }

    .header .navbar.active{
        right:0;
    }

    .header .navbar a{
        color:var(--black);
        display: block;
        margin:1.5rem;
        padding:.5rem;
        font-size: 2rem;
    }

    .header .search-form{
        width: 90%;
        right: 2rem;
    }

    .home{
        background-position: left;
        justify-content: center;
        text-align: center;
    }

    .home .content h3{
        font-size: 4.5rem;
    }

    .home .content p{
        font-size: 1.5rem;
    }

}

@media (max-width:450px){

    html{
        font-size: 50%;
    }

}